#logo3 {
	height: 100%;
	width: 3px;
	background: #FF0000;
	position: absolute;
	right: 30px;
	top: 0px;
}
#logo4 {
	height: 100%;
	width: 3px;
	background: #FF0000;
	position: absolute;
	right: 40px;
	top: 0px;
}
#logo5 {
	height: 100%;
	width: 3px;
	background: #FF0000;
	position: absolute;
	right: 50px;
	top: 0px;
}
#logo2 {
	height: 80px;
	width: 390px;
	background: url(C:/Sites/static/kapr/kap.svg);
	position: relative;
	left: 20px;
	top: -5px;
}	
#logo1 {
	height: 10px;
	width: auto;
	background: #FF0000;
	position: relative;
	top: 34px;
}


.n-b {
	height: 50px;
	width: auto;
	background-color: rgba(192,192,192,.5);
}
.n-block{
	position: relative;
	left: 550px;
	background: #FF0000;
	width: 600px;
}
.f-b {
	margin: 0 auto;
	width: 100%;
	height: 90px;
	background: rgba(192,192,192,.5);
	bottom: -70px;
	position: relative;
	

}

.n-list li {

	display: inline-block;
	margin: 15px;
	cursor: pointer;
	font-variant: small-caps;
	font-size: 18px;
}
.n-list a{
text-decoration: none;
color: black;
}
.f-l-block {
	
    
}
.f-list ul {
	
	display: inline-block;
	padding: 10px;
	
	cursor: pointer;
	font-variant: small-caps;
	font-size: 14px;
}
.body{
	height: 300px;
}
	
