*{
	margin: 0px;
	padding: 0px;
	position: relative;
	display: inherit;
}
title{
	display: none;
}
body{
	background: url(newbak.gif) no-repeat;
	background-size:cover;
	height: 880px;
	width: 100%;

}
.text{
	width: 500px;
	height: 600px;
	
	text-indent: 40px;
	margin: 0px auto;
	margin-top: 260px;


}
ul li{
	list-style: decimal;
}