*{
	position: relative;
}
#logo1{
	left: 20px;
	width: 990px;
	height: 100px;
	background: url(kap.svg) no-repeat;
	background-size: contain;
}
#logo2{
	width: 100%;
	height:9px;
	background: red;
	top: -55px;
	z-index: -1;
}
.logo-side{
	width: 30px;
	height: 100%;
}
#logo3, #logo4, #logo5{	
	background: red;
	width: 2px;
	height: 1776px;
	display: inline-block;
	margin-top: -360px;
	margin-bottom: -508px;
	z-index: 5;
}
#logo3{left: 55px;}
#logo4{left: 60px;}
#logo5{left: 65px;}
.logo-bot{
}
#logo6, #logo7, #logo8{
	width:100%;
	height: 2px;
	background: red;
}
#logo6{top:-10px;}
#logo7{top:-5px;}
#logo8{}

h1{
	font-style: italic;
}
h1:hover{
	color:#f0f;
}
td:hover{
	background	:#f0f;
}
a:hover{
	font-style: italic;
}
table{
	width: 600px;
	margin: 0 auto;
}
td{
	width: 120px;
	text-align: center;
	text-transform: capitalize;
	text-decoration: overline;
}
ul{
	width: 295px;
	display: inline-block;
	margin: 0;
	list-style: none;
	padding: 0;
}
.f-list{
	width: 903px;
	margin: 0 auto;
}
.text{
	width: 800px;
	margin: 40px;
	text-indent: 30px;
}
/*-----------------------------------------*/

body{
	height: 100%;
	background: url(back.jpg) no-repeat;
	background-size: contain;
}
/*.all{
	width: 900px;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
	background: #fff;
	box-shadow: 0 0 10px;
	z-index: -20;

	min-height: 100%;
	height: auto !important;
	margin: 0 auto -155px;

	padding-bottom: 155px;

}*/
